<div class="page" id="page">
	{{> applications-header }}
	<div role="main">
		<h1 class="section-title">Our Outdoor Blog</h1>
		<div class="l-two-col">
			<div class="l-main">
				{{> applications-latest-posts }}
				{{> components-pagination }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> applications-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> applications-footer }}
</div>